@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../Bot-litoral/Corporación\ Educativa\ del\ Litoral\ –\ Institución\ de\ Educación\ Superior\ -\ Google\ Chrome\ 18_05_2023\ 10_08_10\ a.\ m..png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  background-color: #76608a;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.chat-bubble-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-bubble {
  width: 60px;
  height: 60px;
  background-color: #1abc9c;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.chat-bubble:hover {
  transform: scale(1.1);
}

/* Chat styles */
.chat-container {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 300px;
  height: 425px;
  background-color: #e4e4e4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: none;
  border-radius: 0.5rem;
}

.chat-container.opened {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-chat {
  display: flex;
  background-color: #290095;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  gap: 1rem;
}

.send-message {
  max-width: 80%;
  margin-inline: auto;
  color: white;
  margin-bottom: 10px;
}

.user-message {
  display: flex;
  justify-content: flex-end;
  border-radius: 0.5rem;
}

.bot-message {
  border-radius: 0.5rem;
}

.user-input {
  border: none;
  flex: 1;
  height: 1.75rem;
  padding-inline: 0.25rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: transparent;
}

.user-input:focus {
  outline: none;
}

.send-button {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background: transparent;
}

.img-send {
  width: 1.25rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 100px;
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  color: white;
  font-size: 1.25rem;
}

.form {
  width: 100%;
  background: white;
  border-top: 1px solid gray;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-flex {
  display: flex;
  padding: 0.5rem;
}

.message-container {
  padding-top: 1rem;
  overflow-y: scroll;
}

.message {
  background: white;
  padding: 0.5rem;
}

.chat-message-bot {
  display: flex;
  margin-bottom: 10px;
  margin-inline: 1rem;
}

.chat-message-user {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: 10px;
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

/* Estilo del thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 5px; /* Borde redondeado del thumb */
}

/* Estilo del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el mouse */
}
